* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}

.p-strong{
    font-weight: 900;
}

.picture-me {
    border-radius: 50%;
    height: 150px;
    width: auto;
    margin: 15px;
}

.skills {
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}

.projects {
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}


